torch
transformers
sentencepiece
datasets
evaluate
spacy
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0.tar.gz
scikit-learn
krippendorff
rapidfuzz
networkx
matplotlib
seaborn
pandas
numpy
tqdm
openpyxl
